<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snippet List</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/snippetList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
</head>
<body>
    <%- include('navbar', { user: user }) %>
    <%- include('messages') %>
    <% if (user) { %>
        <div class="create-snippet-container">
            <a href="/snippets/new" class="btn create-snippet-btn">Create Snippet</a>
        </div>
    <% } %>
    <div class="snippet-container">
        <h1 class="snippetList">Snippet List</h1>
        <% if (snippets && snippets.length > 0) { %>
            <% snippets.forEach(function(snippet) { %>
                <div class="snippet" id="snippet-<%= snippet._id %>">
                    <% if (user && user._id.toString() === snippet.author._id.toString()) { %>
                        <a href="/snippets/edit/<%= snippet._id %>" class="btn edit-btn">Edit</a>
                        <button onclick="handleDelete('<%= snippet._id %>')" class="btn delete-btn">Delete</button>
                    <% } %>
                    <h2><%= snippet.title %></h2>
                    <pre><code class="language-javascript"><%= snippet.content %></code></pre>
                    <p class="author">Created by: <%= snippet.author.username ? snippet.author.username : 'Unknown' %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No snippets found.</p>
        <% } %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script>
    function handleDelete(snippetId) {
        fetch(`/snippets/delete/${snippetId}`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            },
            credentials: 'include',
            body: JSON.stringify({ _method: 'DELETE' })
        })
        .then(response => {
            if (response.headers.get("content-type").includes("application/json")) {
                return response.json()
            } else {
                throw new Error('Failed to delete snippet. The server response was not in JSON format.')
            }
        })
        .then(data => {
            if (data.message) {
                document.getElementById(`snippet-${snippetId}`).remove()
            } else {
                throw new Error('The operation did not return a message.')
            }
        })
        .catch(error => {
            console.error(error)
        })
    }
    </script>
</body>
</html>
